{#
/**
 * @file
 * Theme override for page titles.
 *
 * Available variables:
 * - title_attributes: HTML attributes for the page title element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 */
#}
{{ title_prefix }}
{% if title %}
<section class="hero-image page-header" aria-label="Hero image">
  <h1{{ title_attributes.addClass('relative z-1 text-2xl md:text-4xl text-white bg-black/20 flex items-center justify-center') }}>{{ title }}</h1>
  <img class="w-screen h-40 md:h-80 object-cover " src="https://kimono-fukumoto.com/assets/img/about/mv_pc.jpg" alt="关于我们">
</section>
{% endif %}
{{ title_suffix }}
