{%
  set classes = [
  'chip',
  'chip--color-' ~ color|clean_class,
  dismissable ? 'chip--dismissable',
]
%}
<div {{ attributes.addClass(classes) }} >
  {% block chip_content %}{% endblock %}
</div>
